<% if @user.errors.any? %>
  <%= render '/errors/user_errors' %>
<% end %>

<div class='form'>
  <h3 class='page-title'>Login</h3>
    <%= form_for @user, url: sessions_path do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %><br />

      <%= f.label :password %>
      <%= f.password_field :password %><br />

      <%= f.submit 'Login', class: 'post-routes-button' %>
    <% end %>
</div>
