<div>
  <h3>New Developer</h3>
  <%= form_for @user, url: developers_path do |f| %>
    First name: <%= f.text_field :first_name %><br />
    Last name: <%= f.text_field :last_name %><br />
    Email: <%= f.email_field :email %><br />
    Phone: <%= f.text_field :phone %><br />
    Website: <%= f.text_field :website %><br />
    Description: <%= f.text_area :description %><br /><br />
    Password: <%= f.password_field :password %><br />
    <%= f.hidden_field :user_type, { :value => 'dev' } %>
    <%= f.submit 'Create account' %>
  <% end %>
</div>
