<% if @user.errors.any? %>
  <%= render 'errors/user_errors' %>
<% end %>

<div class='sign-up-buttons'>
  <button id='dev-button'>Register as a Developer</button>
  <button id='org-button'>Register as a Organization</button>
</div>

<div id='dev-div'>
  <div class='form'>
    <h3 class='interior-title'>New Developer</h3>
    <span class='required'> * required fields </span>

    <%= form_for @user, url: developers_path do |f| %>
      Profile Image: <%= f.file_field :image, class:'form-image' %>
      First name:
        <span class='required'> * </span>
        <%= f.text_field :first_name %>
      Last name:
        <span class='required'> * </span>
        <%= f.text_field :last_name %>
      Email:
        <span class='required'> * </span>
        <span class='disclaimers'>
          (<i>Note:</i> When you submit a proposal for a project, your email address will be visible to the organization that listed the project.)
        </span>
        <%= f.email_field :email %>
      Phone:
        <span class='disclaimers'>
          (Please enter phone in xxx-xxx-xxxx format)
        </span>
        <%= f.telephone_field :phone %>
      Website:
        <span class='disclaimers'>
          (Must include http:// or https://)
        </span>
        <%= f.text_field :website %>
      Description: <%= f.text_area :description %>
      Password:
        <span class='required'> * </span>
        <%= f.password_field :password %>
      Password Confirmation:
        <span class='required'> * </span>
        <%= f.password_field :password_confirmation %>
      <%= f.hidden_field :user_type, { :value => 'dev' } %>
      <%= f.submit 'Create account', class: 'post-routes-button' %>
    <% end %>
  </div>
</div>

<div id='org-div'>
  <div class='form'>
    <h3 class='interior-title'>New Organization</h3>
    <span class='required'> * required fields </span>

    <%= form_for @user, url: organizations_path do |f| %>
      Profile Image: <%= f.file_field :image, class:'form-image' %>
      Organization name:
        <span class='required'> * </span>
        <%= f.text_field :org_name %>
      EIN number:
        <span class='disclaimers'>
          (must be 9 digits, no hyphen)
        </span> <%= f.text_field :ein, id:'ein-field' %>
        <span id='ein-disclaimer'>
          When you provide an EIN we search for the name associated with the given EIN and display on your profile to give developers condifence that you are a valid non-profit
        </span><br/>
      Street Address:
        <span class='required'> * </span>
        <%= f.text_field :street_address %>
      City:
        <span class='required'> * </span>
        <%= f.text_field :city %>
      State:
        <span class='required'> * </span>
        <%= f.text_field :state %>
      Zip:
        <span class='required'> * </span>
        <%= f.text_field :zip %>
      Email:
        <span class='required'> * </span>
        <%= f.email_field :email %>
      Phone:
        <span class='disclaimers'>
          (Please enter phone in xxx-xxx-xxxx format)
        </span>
        <%= f.text_field :phone %>
      Website:
        <span class='disclaimers'>
          (Must include http:// or https://)
        </span>
        <%= f.text_field :website %>
      Description: <%= f.text_area :description %>
      Password:
        <span class='required'> * </span>
        <%= f.password_field :password %>
      Password Confirmation:
        <span class='required'> * </span>
        <%= f.password_field :password_confirmation %>
      <%= f.hidden_field :user_type, { :value => 'org' } %>
      <%= f.submit 'Create account', class: 'post-routes-button' %>
    <% end %>
  </div>
</div>
