<% if logged_in? && current_user == @user %>
  <div class="page-title">
    <h2>My Account</h2>
  </div>
<% end %>
<% if @user.user_type == 'org' %>
  <h2 class='interior-title'><%= @user.org_name %></h2>
  <div class='profile-image-container'>
    <%= image_tag @user.image.thumb('250x250#').url, class: 'profile-image' if @user.image_stored? %>
  </div>

  <% if logged_in? && current_user == @user %>
    <span class='link-button'>
      <%= link_to('Edit Profile', edit_organization_path) %>
    </span>
  <% end %>  <div>
    <div class='focus-box ein-box'>
      EIN number:
      <% if @user.ein == '' || @user.ein == nil %>
        No EIN provided
      <% else %>
        <%= @user.ein %>
      <% end %><br/>
      EIN name: <%= @ein_name %>
      <div class='ein-disclaimer-icon'>
        *
      </div>
    </div>
    <%= @user.street_address %><br/>
    <%= @user.city %>, <%= @user.state %> <%= @user.zip %><br />
    Phone: <%= @user.phone %><br />
    <% if @user.website != '' %>
      <div class='interior-links'>
        Website: <%= link_to(@user.website, @user.website) %>
      </div>
    <% else %>
      <span></span>
    <% end %>
  </div>
  <h3 class='interior-title'>About Us</h3>
  <div>
    <%= raw(@user.description) %>
  </div>
  <h3 class='interior-title'> Projects</h3>
  <ul>
    <% @user.projects.each do |project| %>
      <li>
        <div class='interior-links'>
        <%= link_to(project.title, organization_project_path(project.organization, project)) %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="ein-disclaimer-box">
    <strong>*</strong> If the organization provided a valid EIN, the name associated with the EIN will be displayed above to give greater confidence about the non-profit's validity.
  </div>

<% else %> <!-- if user is dev   -->
<div class='profile-image-container'>
  <%= image_tag @user.image.thumb('250x250#').url, class: 'profile-image' if @user.image_stored? %>
</div>
  <h2 class='interior-title'>  <%= @user.full_name %> </h2>
  <% if logged_in? && current_user == @user %>
    <span class='link-button'>
      <%= link_to('Edit Profile', edit_developer_path) %>
    </span>
    <% end %>
  <div>
    <% if @user.website != '' %>
      Website:
      <div class='interior-links'>
        <%= link_to(@user.website, @user.website) %>
      </div>
    <% else %>
      <span></span>
    <% end %>
  </div>

  <h3 class='interior-title'>About Me</h3>
  <div>
    <%= raw(@user.description) %>
  </div>

  <h3 class='interior-title'>D4G Project Portfolio:</h3>
    <ul>

      <% @user.proposals.each do |proposal| %>
          <% if proposal.selected == true %>
          <li>
            <span class='interior-links'><%= link_to proposal.project.title, organization_project_path(proposal.project.organization, proposal.project) %></span>
          </li>
          <% end %>
      <% end %>
    </ul>


    <% if @user.proposals.count > 0 && current_user == @user %>
    <h3 class='interior-title'>My Project Proposals</h3>
    <div class='dev-proposals-container'>
      <% @user.proposals.each do |proposal| %>
        <% if proposal.selected == true %>
          <div class='focus-box interior-links inline-block'>
            <div class='proposal-title'>
            <%= link_to proposal.project.title, project_proposal_path(proposal.project, proposal) %>
            </div>
            <div class='status'>
              Selected!
            </div>
          </div>
        <% elsif proposal.selected == false && proposal.project.selected_proposal %>
          <div class='proposal-not-selected-box interior-non-selected-links inline-block'>
          <div class='proposal-title'>
            <%= link_to proposal.project.title, project_proposal_path(proposal.project, proposal) %>
          </div>
            <div class='status'>
              Not selected
            </div>
          </div>
        <% else %>
          <div class='proposal-not-selected-box interior-links inline-block'>
          <div class='proposal-title'>
            <%= link_to proposal.project.title, project_proposal_path(proposal.project, proposal) %>
          </div>
            <div class='status'>
              Pending
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
