<% if @user.user_type == 'org' %>
  <h2><%= @user.org_name %></h2>
  <div>
    <%= @user.street_address %><br/>
    <%= @user.city %>, <%= @user.state %> <%= @user.zip %><br />
    Phone: <%= @user.phone %><br />
    Website: <%= link_to(@user.website, @user.website) %>
  </div>
  <h3>About Us</h3>
  <div>
    <%= @user.description %>
  </div>
  <h3>Our Current Projects</h3>
  <ul>
    <% @user.projects.each do |project| %>
      <li>
        <%= link_to(project.title, organization_project_path(project.organization, project)) %>
      </li>
    <% end %>
  </ul>

<% else %>
  <h2>  <%= @user.full_name %> </h2>
  <div>
    Website: <%= link_to(@user.website, @user.website) %>
  </div>

  <h3>About Me</h3>
  <div>
    <%= @user.description %>
  </div>

  <h3>D4G Project Portfolio:</h3>
  Coming soon.

  <% if @user.proposals.count > 0 && current_user == @user %>
    <h3>My Project Proposals</h3>
    <ol>
      <% @user.proposals.each do |proposal| %>
        <li>
          <%= link_to proposal.project.title, project_proposal_path(proposal.project, proposal) %>
        </li>
      <% end %>
    </ol>
  <% end %>
<% end %>
