<div class='home-box'>
  <div class='interior-center'>

    <div class='middle-bar'>
      DEVS4GOOD
    </div>

    <div class='home-nav'>
      <nav>
        <%= link_to('About', pages_about_path) %> |
        <%= link_to('Projects', projects_path) %> |
        <% if current_user %>
          <% if current_user.user_type == 'org' %>
            <%= link_to('My organization', organization_path(current_user.id)) %> |
          <% else %>
            <%= link_to('My account', developer_path(current_user.id)) %> |
          <% end %>
          <%= link_to('Log Out', :logout, method: :post) %>
        <% else %>
          <%= link_to('Log In', :login) %> |
          <%= link_to('Sign Up', new_user_path) %>
        <% end %>
      </nav>
    </div>

  </div>

</div>
