<h2>Edit Your Project Here:</h2>

<%= form_for @project, url: organization_project_path do |f| %>
  <%= f.label :title, 'Project Title' %>
  <%= f.text_field :title %>

  <%= f.label :description, 'Project Specs' %>
  <%= f.cktext_area :description, ckeditor: {toolbar: 'mini'} %>

  <%= f.label :time_frame, 'Project Needed By' %>
  <%= f.date_field :time_frame %>

  <%= f.submit 'Edit Project' %>
<% end %>
