<% if @project.errors.any? %>
  <%= render 'errors/project_errors' %>
<% end %>

<div class='form'>
  <h2 class='page-title'>Edit Your Project Here</h2>
  <span class='required'> * required fields </span>

  <%= form_for @project, url: organization_project_path do |f| %>
    <span class='post-form-titles'>Project Title</span>
    <span class='disclaimers'>(max 50 characters)</span>
    <span class='required'> * </span>
    <%= f.text_field :title %>

    <span class='post-form-titles'>Project Summary</span>
    <span class='disclaimers'>(max 255 characters)</span>
    <span class='required'> * </span>
    <%= f.text_area :summary %>

    <span class='post-form-titles'>Project Specs</span>
    <span class='required'> * </span>
    <%= f.cktext_area :description, ckeditor: { toolbar: 'mini' } %>

    <span class='post-form-titles'>Project Needed By</span>
    <span class='required'> * </span>
    <%= f.date_field :time_frame %>

    <span class='post-form-titles'>Contact e-mail for Project</span>
    <span id='ein-disclaimer' >(will be shown to any logged in developer viewing the project)</span>
    <%= f.email_field :contact_email %>

    <%= f.submit 'Edit Project', class: 'post-routes-button' %>
  <% end %>
</div>
