<h2><%= @project.title %></h2>
<div>Project Summary: <%= @project.summary %></div>
<div>Project Details: <%= raw(@project.description) %></div>

<div>
  Requested by: <%= link_to(@project.organization.org_name, organization_path(@project.organization.id)) %><br/>
  <% if logged_in? && (current_user.user_type == 'dev' || @project.organization.id == current_user.id ) && @project.contact_email != '' %>
  Project contact e-mail: <%= mail_to(@project.contact_email) %>
  <% end %>
</div>
<div>Time frame: <%= @project.time_frame %></div>

<% if logged_in? && current_user.user_type == 'org' && @project.organization.id == current_user.id %>
  <%= link_to('Edit', edit_organization_project_path(@project.organization, @project)) %>
  <%= link_to('Delete', organization_project_path, method: :delete, data: { confirm: 'Are you sure?' }) %>
<% end %>

<% if logged_in? && current_user.user_type == 'dev' %>
  <%= link_to('Add Proposal', new_project_proposal_path(@project)) %>
<% end %>

<% if @project.selected_proposal %>
  <div>
    Selected proposal:
    <%= link_to(@project.selected_proposal.developer.full_name, developer_path(@project.selected_proposal.developer)) %>
  </div>
<% end %>

<% if logged_in? && current_user.user_type == 'org' && @project.organization.id == current_user.id %>
  <h3>Proposals: </h3>
  <ul>
    <% @project.proposals.each do |proposal| %>
      <li>
        <%= link_to(proposal.developer.full_name, project_proposal_path(proposal.project, proposal))  %>
        <% if !@project.selected_proposal %>
          <%= form_for proposal, url: project_proposal_path(@project.id, proposal.id) do |f| %>
            <%= f.hidden_field :selected, :value => 'true' %>
            <%= f.submit "Select" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if logged_in? && current_user.user_type == 'dev' && @project.user_id == current_user.id %>
  <h3>My Proposal:</h3>
  <% @project %>
  <%= link_to(proposal.developer.full_name, project_proposal_path(proposal.project, proposal)) %>
<% end %>
