<h2><%= @project.title %></h2>

<div>Project Details: <%= @project.description %></div>
<div>
  Requested by: <%= link_to(@project.organization.org_name, organization_path(@project.organization.id)) %>
</div>
<div>Time frame: <%= @project.time_frame %></div>
<%= link_to('Edit', edit_project_path(@project)) %>
<%= link_to('Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }) %>
