<h2 class="page-title"><%= @project.title %></h2>

<h2 class='interior-title'>Project Details</h2>

  <div>
    Summary: <%= @project.summary %>
  </div>

  <div>
    Description: <%= raw(@project.description) %>
  </div>

<h2 class='interior-title'>Contact Details</h2>
  <div>
    Requested by:
      <span class='interior-links'>
        <%= link_to(@project.organization.org_name, organization_path(@project.organization.id)) %>
      </span><br/>

    <% if logged_in? && (current_user.user_type == 'dev' || @project.organization.id == current_user.id ) && @project.contact_email != '' %>
      Project contact e-mail:
        <span class='interior-links'>
          <%= mail_to(@project.contact_email) %>
        </span>
    <% end %>
  </div>

<div>
  Time frame: <%= @project.time_frame %>
</div>

<% if logged_in? && current_user.user_type == 'org' && @project.organization.id == current_user.id %>
  <span class='link-button'>
    <%= link_to('Edit', edit_organization_project_path(@project.organization, @project)) %>
  </span>
  <span class='link-button'>
    <%= link_to('Delete', organization_project_path, method: :delete, data: { confirm: 'Are you sure?' }) %>
  </span>
<% end %>

<% if logged_in? && current_user.user_type == 'dev' %>
  <span class='link-button'>
    <%= link_to('Add Proposal', new_project_proposal_path(@project)) %>
  </span>
<% end %>

<% if @project.selected_proposal %>
  <div>
    <h3 class='interior-title'>Selected Developer:</h3>
      Developer:
        <span class='interior-links'>
          <%= link_to(@project.selected_proposal.developer.full_name, developer_path(@project.selected_proposal.developer)) %>
        </span>
  </div>
<% end %>

<% if logged_in? && current_user.user_type == 'org' && @project.organization.id == current_user.id %>
<h3 class='interior-title'>Proposals: </h3>
  <div class='dev-proposals-container'>
    <% if !@project.selected_proposal %>
      <% @project.proposals.each do |proposal| %>
        <div class='proposal-not-selected-box interor-links inline-block'>
          <div class='proposal-title'>
            <span class='interior-links'>
              <%= link_to(proposal.developer.full_name, project_proposal_path(proposal.project, proposal))  %>
            </span>
          </div>
        <% if !@project.selected_proposal %>
          <div class='status'>
            <%= form_for proposal, url: project_proposal_path(@project.id, proposal.id) do |f| %>
              <%= f.hidden_field :selected, :value => 'true' %>
              <%= f.submit "Select", class: 'select-proposal-button' %>
            <% end %>
          </div>
        <% end %>
        </div>
      <% end %>
    <% else %>
      <% @project.proposals.each do |proposal| %>
        <% if proposal.selected == true %>
          <div class='focus-box interor-links inline-block'>
            <div class='proposal-title'>
              <span class='interior-links'>
                <%= link_to proposal.developer.full_name, project_proposal_path(proposal.project, proposal) %>
              </span>
            </div>
            <div class='status'>
              Selected!
            </div>
          </div>
        <% else %>
          <div class='proposal-not-selected-box interor-non-selected-links inline-block'>
            <div class='proposal-title'>
              <%= link_to proposal.developer.full_name, project_proposal_path(proposal.project, proposal) %>
            </div>
            <div class='status'>
              Not selected
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
<% end %>

<% if logged_in? && current_user.user_type == 'dev' %>
  <h3 class= 'interior-title'>My Proposals: </h3>
  <div class='cards'>
    <ol>
      <% @project.developer_proposals(current_user).each_with_index do |proposal,index| %>
        <div class='card'>
          <div class='card-copy'>
            <%= link_to(("Proposal #{index + 1}"), project_proposal_path(@project.id, proposal.id)) %>
          </div>
        </div>
      <% end %>
    </ol>
  </div>
<% end %>
