<h2> Proposal for: <%= link_to(@proposal.project.titlge, organization_project_path(@proposal.project.organization_id, @proposal.project.id)) %></h2>
<div>
  <%= @proposal.description %>
</div>
<div>
  Developer: <%= @proposal.developer.full_name %>
</div>

<% if logged_in? && current_user.user_type == 'dev' && @proposal.developer.id == current_user.id %>
  <%= link_to('Edit', edit_project_proposal_path(@proposal.project, @proposal)) %>
  <%= link_to('Delete', project_proposal_path(@proposal.project, @proposal), method: :delete, data: { confirm: 'Are you sure?'}) %>
<% end %>
