<h2> Proposal for <%= @proposal.project.title %></h2>
<div>
  <%= @proposal.description %>
</div>
<div>
  Developer: <%= @proposal.user.full_name %>
</div>

<% if logged_in? && current_user.user_type == 'dev' %>
  <%= link_to('Edit', edit_project_proposal_path(@proposal.project, @proposal)) %>
  <%= link_to('Delete', project_proposal_path(@proposal.project, @proposal), method: :delete, data: { confirm: 'Are you sure?'}) %>
<% end %>
