<!DOCTYPE html>
<html>
  <head>
    <title>Devs4Good</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script
    src="http://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
  </head>

  <body>
        <div class="interior-header">
        <% unless current_page?(root_path) %>
          <div class='interior-logo'>
              Devs4Good
          </div>
        <% end %>
        <nav>
          <%= link_to('Home', root_path) %>
          <%= link_to('About') %>
          <%= link_to('Projects', projects_path) %>

          <% if current_user %>
            <%= link_to('Log Out', :logout, method: :post) %>
            <% if current_user.user_type == 'org' %>
              <%= link_to('My organization', organization_path(current_user.id)) %>
            <% else %>
              <%= link_to('My account', developer_path(current_user.id)) %>
            <% end %>
          <% else %>
            <%= link_to('Log In', :login) %>
            <%= link_to('Sign Up', new_user_path) %>
          <% end %>
        </nav>
      </div>
      <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
