<!DOCTYPE html>
<html>
  <head>
    <title>Devs4Good</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <%= link_to('Home', root_path) %>
          <%= link_to('About') %>
          <%= link_to('Projects', projects_path) %>

          <% if current_user %>
            <%= link_to('Log Out', :logout, method: :post) %>

          <% else %>
            <%= link_to('Log In', :login) %>
            <%= link_to('Sign Up') %>
          <% end %>
        </nav>
      </header>
    </header>
    <%= yield %>
    </div>
  </body>
</html>
